h1 {
    text-align:center;
    font-size:80px;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    font-size: 60px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
body{
    background-color:rgb(243, 173, 243);
}
.main {
    display:flex;
    gap:500px;
}
.fir{
    position:relative;
    left:150px;
    font-size:40px;
}
.sec{
    font-size:40px;
}
.main{
    position:absolute;
    top:110px;
}
.first{
    visibility: visible;
}
.second{
    visibility: hidden;
}
